.footer-container {
    background-color: #0101cd;
    position:fixed;
    bottom: 10px;
    width:98.75%;
    text-align: center;
    .footer-content {
        padding:5px;
        margin:5px;
        color:#ffffff;
    }
}
